body {
    background-color: grey; /* Sets the background color of the entire page to grey */
    display: flex; /* Uses flexbox to position the content */
    align-items: center; /* Vertically centers the content */
    justify-content: center; /* Horizontally centers the content */
}

.container {
    display: flex; /* Uses flexbox for containers */
    flex-direction: column; /* Arranges the content vertically */
    align-items: center; /* Horizontally centers the content inside the container */
    gap: 50px; /* Sets the gap between elements to 50px */
}

.left {
    transform: rotate(180deg); /* Rotates the left arrow by 180 degrees */
}

.top {
    display: flex; /* Uses flexbox for the top container */
    align-items: center; /* Vertically centers the content */
    gap: 50px; /* Sets the gap between elements to 50px */
}

.arrow {
    height: 150px; /* Sets the height of the arrow */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the arrow */
}

.frame {
    width: 800px; /* Sets the width of the frame to the width of one image */
    height: auto; /* Automatically sets the height based on the content */
    overflow: hidden; /* Hides any overflow content that exceeds the frame */
}

.slider {
    display: flex; /* Uses flexbox for the slider */
    transition: transform 1s ease; /* Sets a smooth transition for transforms over 1 second */
}

.image {
    width: 800px; /* Sets the width of the image to 800px */
    height: 100%; /* Sets the height of the image to 100% of the container's height */
    object-fit: contain; /* Ensures the image fits within its container while maintaining its aspect ratio */
}

.bottom {
    display: flex; /* Uses flexbox for the bottom container */
    gap: 30px; /* Sets the gap between elements to 30px */
}

.button {
    width: 15px; /* Sets the width of the button */
    height: 15px; /* Sets the height of the button */
    border-radius: 50%; /* Makes the button round */
    border: 1px solid #f34863; /* Sets the color and width of the button border */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
}
